<!DOCTYPE html>

<html>
    <head>
        <title></title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <nav>
            <a href="/">
                <img TODO>
            </a>
            <h3>Perfect project</h3>
        </nav>
        <h1>It is perfect project</h1>
        <h3>Please select what u need</h3>
        <form>
            <ul class="drop-down">
                <li>Parse Google</li>
                <li>Parse Yandex</li>
                <li>Parse Bing</li>
                <li>Parse Combine</li>
            </ul>
            <ul class="drop-down">
                <li>Parse proxy</li>
                <li class="another">Parse another</li>
            </ul>
            <input class="input-another" type="text" id="another">
            <datalist id="browsers">
                <option value="Internet Explorer">
            <option value="Firefox">
                <option value="Chrome">
            <option value="Opera">
                <option value="Safari">
            </datalist>

        </form>
    </body>
</html>